@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



body {
    background-color: rgb(24 24 27) !important;
    color:white !important;
    overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #04DAC3;
  border-radius: 50px;
  border: 3px solid #111; /* creates spacing effect */
}


